<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/variables.css">
    <link rel="stylesheet" href="/css/cute-alert.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <span id="data-user-logined" style="display: none" datauser="<%= data._id %>">  </span>
        <script>
            let dataUserId = document.querySelector('#data-user-logined').getAttribute('datauser')
            console.log('datauser', dataUserId)
            let dt = {a: 1, b: "b"}
            console.log('type of dt', typeof dt, dt)
            let dataUserr = JSON.stringify(dataUserId)
            let e = JSON.parse(dataUserr)
            console.log(dataUserId, 'type of', typeof dataUserId)
        </script>


    <%- include('header') %>

    <%- include('list-like') %>

    <%- include('container') %>
    <%- include('postnew-overlay') %>
     
</body>

<script>

</script>
</html> 